body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #33AD29;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-end;
    z-index: 1000;
}

.login-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    /* space for header */
    padding-bottom: 200px;
    /* space for recommended section */
}

.main {
    text-align: center;
    margin-bottom: 40px;
    font-size: larger;
}

.recommended {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    background: #33AD29;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.recommended h2 {
    margin-top: 0;
    text-align: center;
}

.item-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    background: #f0f0f0;
    padding: 15px;
    border-radius: 8px;
    width: 150px;
    text-align: center;
}