/* Recipe Section Styling */
section {
    background-color: #ffffff;
    border: 3px solid #33ad29;  /* Green border */
    border-radius: 15px;
    padding: 20px;
    margin: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Heading Styling */
h1, h2 {
    color: #33ad29;
}

/* Recipe List Styling */
#recipe-list div {
    background-color: #ffffff;
    border: 2px solid #33ad29;
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#recipe-list h3 {
    color: #33ad29;
}

#recipe-list img {
    border: 2px solid #33ad29;
    border-radius: 8px;
    margin-bottom: 10px;
}


  

